<div>
    <div class="row custom-row">
        {{#each data as |video|}}
        <div class="col-md-6">
            <div class="row vTitle"> Title: {{video.snippet.title}} </div>
            <div class="row">
                {{!-- <img src={{video.snippet.thumbnails.medium.url}} class="video-url" id={{video.id.videoId}}
                    data-toggle="modal" data-target=".bd-example-modal-lg" alt="{{video.snippet.title}}"
                    data-value="{{video.snippet.title}}" /> --}}
                <img src={{video.snippet.thumbnails.medium.url}} class="video-url" id={{video.id.videoId}} alt="{{video.snippet.title}}" data-value="{{video.snippet.title}}" />
            </div>
        </div>
        {{/each}}
    </div>
</div>

<div class="video-player">
    {{!-- <button type="button" class="btn btn-primary" id="sFav">Save</button> --}}
</div>

{{!-- <script>('/gallery');</script> --}}
<script src="/js/gallery.js"></script>